@media only screen and (min-width: 768px) {
    .container {
        .cardImage {
            width: 500px;
        }

        .walletButton {
            width: 500px;
            padding: 0 16px;
        }
    }
}